# STAT8107 Data Mining Techniques
## Group Project

**Members (UID):**  
TBC

## Import modules and configuration

In [11]:
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt


pd.set_option('display.max_columns', None)
warnings.filterwarnings("ignore")

%matplotlib inline

## Load Data

In [3]:
# Read csv files
price_train_df = pd.read_csv('trainPrice.csv')
price_test_df = pd.read_csv('testPrice.csv')
subway_df = pd.read_csv('Subways.csv')
schools_df = pd.read_csv('Schools.csv')

## Exploratory Data Analysis (EDA)

In [4]:
price_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601458 entries, 0 to 1601457
Data columns (total 25 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   key                                 1601458 non-null  int64
 1   apartment_id                        1601458 non-null  int64
 2   city                                1601458 non-null  int64
 3   transaction_year_month              1601458 non-null  int64
 4   transaction_date                    1601458 non-null  object
 5   year_of_completion                  1601458 non-null  int64
 6   exclusive_use_area                  1601458 non-null  float64
 7   floor                               1601458 non-null  int64
 8   latitude                            1601458 non-null  float64
 9   longitude                           1601458 non-null  float64
 10  address_by_law                      1601458 non-null  int64
 11  total_parking_capacity_in_site      1509645 non-null  float64
 12  total_household_count_in_sites      1601458 non-null  int64
 13  apartment_building_count_in_sites   1601458 non-null  int64
 14  tallest_building_in_sites           1601449 non-null  float64
 15  lowest_building_in_sites            1601449 non-null  float64
 16  heat_type                           1599441 non-null  object
 17  heat_fuel                           1591791 non-null  object
 18  room_id                             1601458 non-null  int64
 19  supply_area                         1601458 non-null  float64
 20  total_household_count_of_area_type  1601458 non-null  int64
 21  room_count                          1600767 non-null  float64
 22  bathroom_count                      1600767 non-null  float64
 23  front_door_structure                1587566 non-null  object
 24  transaction_real_price              1601458 non-null  int64
dtypes: float64(9), int64(12), object(4)
memory usage: 305.5+ MB

The housing price taining set has 1.6 M records and 25 columns.

In these 25 columns, 9 columns have float datatype, 12 columns have integer datatype and 4 columns have object (string) datatype.

In [23]:
# Missing value counts
df_na_cnt = price_train_df.isnull().sum()
df_record_cnt = price_train_df.shape[0]

# Print the count of missing value for each feature
print("The following columns have missing values:")
for col, na_cnt in zip(df_na_cnt.index, df_na_cnt.values):
    if na_cnt > 0:
        print(f"{col} has {na_cnt} ({100*na_cnt/df_record_cnt:0.1f}%) missing value.")

The following columns have missing values:
total_parking_capacity_in_site has 91813 (5.7%) missing value.
tallest_building_in_sites has 9 (0.0%) missing value.
lowest_building_in_sites has 9 (0.0%) missing value.
heat_type has 2017 (0.1%) missing value.
heat_fuel has 9667 (0.6%) missing value.
room_count has 691 (0.0%) missing value.
bathroom_count has 691 (0.0%) missing value.
front_door_structure has 13892 (0.9%) missing value.

In [12]:
price_train_df.head(10)

,key,apartment_id,city,transaction_year_month,transaction_date,year_of_completion,exclusive_use_area,floor,latitude,longitude,address_by_law,total_parking_capacity_in_site,total_household_count_in_sites,apartment_building_count_in_sites,tallest_building_in_sites,lowest_building_in_sites,heat_type,heat_fuel,room_id,supply_area,total_household_count_of_area_type,room_count,bathroom_count,front_door_structure,transaction_real_price
0,0,5584,1,200601,11~20,1999,47.43,6,37.585965,127.000231,1111017100,163.0,136,1,8.0,4.0,individual,gas,91120,65.63,46,1.0,1.0,corridor,215000000
1,1,5584,1,200601,11~20,1999,44.37,8,37.585965,127.000231,1111017100,163.0,136,1,8.0,4.0,individual,gas,91119,61.39,10,2.0,1.0,corridor,200000000
2,2,5059,1,200601,11~20,1992,54.70,8,37.580511,127.014016,1111017400,902.0,585,5,14.0,9.0,individual,gas,8430,72.36,201,2.0,1.0,corridor,168000000
3,3,2816,1,200601,11~20,1993,64.66,11,37.580324,127.011788,1111017400,902.0,919,7,15.0,11.0,individual,gas,5839,87.30,284,2.0,1.0,corridor,165000000
4,4,2816,1,200601,11~20,1993,106.62,7,37.580324,127.011788,1111017400,902.0,919,7,15.0,11.0,individual,gas,5836,127.74,112,4.0,2.0,stairway,280000000
5,5,2815,1,200601,11~20,2000,84.92,9,37.575381,126.960804,1111018700,1365.0,964,12,23.0,10.0,individual,gas,5831,109.88,454,3.0,2.0,stairway,415000000
6,6,2815,1,200601,11~20,2000,60.00,13,37.575381,126.960804,1111018700,1365.0,964,12,23.0,10.0,individual,gas,5833,84.33,207,3.0,1.0,corridor,267000000
7,7,9867,1,200601,11~20,2005,84.76,10,37.559200,127.019503,1114016200,652.0,461,9,23.0,6.0,individual,gas,11862,104.30,82,3.0,2.0,stairway,415000000
8,8,2818,1,200601,11~20,1999,84.88,18,37.555060,127.014495,1114016200,2091.0,2282,19,20.0,8.0,individual,gas,5843,107.65,576,3.0,2.0,stairway,310000000
9,9,2817,1,200601,11~20,2002,59.94,12,37.549828,127.009284,1114016200,4329.0,5150,42,18.0,11.0,individual,gas,5842,85.90,864,3.0,1.0,corridor,319000000